@tailwind base;
@tailwind components;
@tailwind utilities;

/* LandingPage animation */

.slide-in {
  animation: slideIn 1s forwards;
  opacity: 0; /* Start with opacity 0 to fade in as well */
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* -------------------------------------------------------> */

.sizeLinks {
  width: 4em;
}
